/x64
/typings
/obj
/node_modules
/Debug
/build
/.git
/.vs
/vendor


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

/src/x64
/src/lib/tbb-2017_U5/build
/test/**/*.ts
/test/dbconf.json
/test/node-odbc.test/


*.filters
*.vcxproj
*.lib
*.obj
*.pdb
*.log
*.tlog
*.sln
*.tgz
*.suo
*.user
*.userosscache
*.sln.docstates
*.npmignore
*.ts
**/tsconfig.json

typings.json
appveyor.yml
